
.btn {
	color: #338955;
}

.btn span {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: #094621;
	transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
	-webkit-transform: translate(-50%, -50%);
	      transform: translate(-50%, -50%);
	z-index: -1;
}

.btn:hover {
	color: #c3dccd;
}

.btn:hover span {
	width: 225%;
	height: 562%;
}

.btn:active {
	background: #0f7437;
}